<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adt.learn2code"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission 
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-permission 
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.learn2code.androidtechies.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learn2code.androidtechies.Langs"
            android:label="@string/title_activity_langs" >
        <meta-data 
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.learn2code.androidtechies.Welcome"/>
        </activity>
    	<activity
            android:name="com.learn2code.androidtechies.Credits"
            android:icon="@drawable/ic_launcher_c"
            android:label="@string/title_activity_credits" >
        <meta-data 
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.learn2code.androidtechies.Welcome"/>
        </activity>
        <activity
            android:name="com.learn2code.androidtechies.Webhand">
        </activity>
        <activity
            android:name="com.learn2code.androidtechies.Cpp"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_cpp" >
        <meta-data 
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.learn2code.androidtechies.Langs"/>
        </activity>
        <activity
            android:name="com.learn2code.androidtechies.C"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_c" >
        <meta-data 
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.learn2code.androidtechies.Langs"/>
        </activity>
        <activity
            android:name="com.learn2code.androidtechies.Java"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_java" >
        <meta-data 
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.learn2code.androidtechies.Langs"/>
        </activity>
    </application>

</manifest>
